<!DOCTYPE html>
<html>
<head>
	<?- head ?>

	<?- _.css("/dns_faker/css/rule_editor.css") ?>

	<title><?= _.l(title.toUpperCase()) ?></title>
</head>

<script>
	var NDS = {
		rule_list: <?- JSON.stringify(rule_list) ?>,
		user_list: <?- JSON.stringify(user_list) ?>
	};
</script>

<body>

	<div id="main">
		<div class="row">
			<div class="col-xs-10 font-32 font-l">
				Rule Editor
			</div>

			<div class="col-xs-2">
				<button class="btn btn-primary btn-block" onclick="NDS.rule_editor.submit_rule_list(this)">
					Submit
				</button>
			</div>
		</div>

		<div id="rule_editor" class="font-n">
		</div>
	</div>

	<?- foot ?>

	<?- _.js(
		"/dns_faker/js/jsoneditor.js",
		"/dns_faker/js/rule_editor.js"
	) ?>

	<script>
		NDS.rule_editor = new NDS.Rule_editor();
	</script>

</body>
</html>